In [1]:
import pandas as pd

df = pd.read_csv('./ml-100k/u.data', delimiter='\t', header=None)
df.columns = ["user_id", "item_id", "rating", "timestamp"]
df = df.drop('timestamp', axis=1)

In [2]:
df.head()

   user_id  item_id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1

In [8]:
rating_counts = df['item_id'].value_counts().reset_index()
rating_counts.columns = ['item_id', 'rating_counts']

In [10]:
rating_counts = rating_counts.loc[rating_counts['item_id']>2]

In [23]:
rating_counts.head()

   item_id  rating_counts
0       50            583
1      258            509
2      100            508
3      181            507
4      294            485

In [13]:
included_movie = rating_counts['item_id'].tolist()

In [15]:
new_df = df.loc[df['item_id'].isin(included_movie)]

# Predict Ratings

In [17]:
raw_rating = pd.DataFrame(columns=list(set(df['user_id'].tolist())), index=list(set(df['item_id'].tolist())))
raw_rating = raw_rating.fillna(0)
for index, row in new_df.iterrows():
    raw_rating[row['user_id']].loc[row['item_id']] = row['rating']

In [33]:
col_to_drop = []
for column in raw_rating.columns:
    if raw_rating[column].loc[50] == 0:
        col_to_drop.append(column)

In [35]:
raw_rating_50 = raw_rating.drop(col_to_drop, axis=1)

In [36]:
raw_rating_50.head()

,1,2,4,5,6,7,8,9,10,12,...,930,931,933,934,936,937,938,940,942,943
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
4,3,0,0,0,0,5,0,0,4,5,...,0,0,3,5,0,0,0,2,0,0
5,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

$$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$

In [ ]:
raw_rating = pd.DataFrame(columns=list(set(df['user_id'].tolist())), index=list(set(df['item_id'].tolist())))
raw_rating = raw_rating.fillna(0)

for index, row in df.iterrows():
    user_avg = user_avg_rating.loc[user_avg_rating['user_id']==row['user_id']]['rating'].tolist()[0]
    raw_rating[row['user_id']].loc[row['item_id']] = row['rating']/user_avg

In [ ]:
item_avg_rating = df.groupby('item_id').agg({'rating': 'mean'}).reset_index()

In [ ]:
item_avg_rating.head()

In [ ]:
user_avg_rating = df.groupby('user_id').agg({'rating': 'mean'}).reset_index()

In [37]:
user_avg_rating.head()

   user_id    rating
0        1  3.610294
1        2  3.709677
2        3  2.796296
3        4  4.333333
4        5  2.874286

In [ ]:
user_avg_rating = user_avg_rating.set_index('user_id')

In [29]:
from pandas import DataFrame

rating = pd.DataFrame(columns=list(set(df['user_id'].tolist())), index=list(set(df['item_id'].tolist())))
rating = rating.fillna(0)

In [ ]:
for index, row in df.iterrows():
    user_avg = user_avg_rating.loc[user_avg_rating['user_id']==row['user_id']]['rating'].tolist()[0]
    rating[row['user_id']].loc[row['item_id']] = row['rating']/user_avg

//anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
rating.head()

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=5)
model.fit(rating, avg_rating)